<header class="header">
    <a href="./" class="logo">
      <img src="../public/images/LogoGeorge.png" alt="Logo" />
    </a>
    
    <ul class="menu">
      <li>
        <a class="menu-item" href="/"> Inicio </a>
      </li>
      <li>
        <a class="menu-item" href="/estudiantes">
          Trabajos
        </a>
      </li>
    </ul>
  </header>
  
  