<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>

    <div class="container" style="margin-top: 80px !important">

      <div class="row "> <!-- justify-content-md-center mb-5  -->
        <div class="col-md-12 mt-6">
          <h2 class="text-center title">
            Algunos de los trabajos hechos.
            <hr />
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
          <img style="max-width: 450px;" class="img-fluid" src="../public/images/Jorge1.JPG" alt="Mi deporte" />
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
          <img style="max-width: 450px;" class="img-fluid" src="../public/images/Jorge 2.JPG" alt="Mi deporte" />
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
          <img style="max-width: 450px;" class="img-fluid" src="../public/images/Jorge3.jpg" alt="Mi deporte" />
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
          <img style="max-width: 450px;" class="img-fluid" src="../public/images/Jorge4.jpg" alt="Mi deporte" />
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
          <img style="max-width: 450px;" class="img-fluid" src="../public/images/Jorge5.jpg" alt="Mi deporte" />
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
          <img style="max-width: 450px;" class="img-fluid" src="../public/images/Jorge6.jpg" alt="Mi deporte" />
        </div>
      </div>

      <div class="row mb-5">
        <div class="d-flex justify-content-center align-items-center" style="margin-top: 30px;">
          <img style="max-width: 50px;" class="img-fluid mb-3" src="../public/images/instagram.png" alt="Mi Insta" />
          <a href="https://www.instagram.com/jorgeagudel01/" style="text-decoration: none;">
            <h2 class="text-center">
              @JorgeAgudel01
            </h2>
          </a>
        </div>
      </div>

    <%- include('includes/scripts') %>
  </body>
</html>
