<html lang="es">

   <head>
    <%- include('includes/head') %>
   </head>

   <body>

    <%- include('includes/header') %>

     

    <main class="content-wrapper mt-5" style="margin-top: 80px !important">
        <div class="container" style="width: 95% !important">
          <div class="row "> <!-- justify-content-md-center mb-5  -->
            <div class="col-md-12 mt-6">
              <h2 class="text-center title">
                Mis Hobbies
                <hr />
              </h2>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
              <img style="max-width: 550px;" class="img-fluid" src="../public/images/ciclismo.jpg" alt="Mi deporte" />
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
              <a href="/estudiantes">
                <img style="max-width: 550px;" class="img-fluid rounded" src="../public/images/dibujo.jpg" alt="Mi arte" />
              </a>
            </div>
          </div>
          
        </div>
      </main>
  

      
      <%- include('includes/scripts') %>


   </body>

   
</html>